:root {
    --rem: 16;
    --bg-primary: rgba(247, 247, 247, 1);
    --bg-secondary: rgba(51, 51, 51, 1);
    --bg-accent: rgba(40, 180, 133, 0.8);
    --bg-accent-light: rgba(126, 213, 111, 0.8);

    --text-primary: rgba(119, 119, 119, 1);
    --text-secondary: rgba(255, 255, 255, 1);
    --text-accent: rgb(85, 197, 122);

    --border-primary: rgba(85, 197, 122, 1);

    --box-shadow-primary: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);

    --text-shadow-primary: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media (max-width: 75rem) {
        font-size: 56.25%;
    }

    @media (max-width: 56.25rem) {
        font-size: 50%;
    }

    @media (max-width: 37.5rem) {
        font-size: 40%;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1rem; */
    line-height: 1.7;
    color: var(--text-primary);
    padding: 3rem;

    @media (max-width: 56.25rem) {
        padding: 0rem;
    }
}

main,
section {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Buttons */

.btn {
    display: inline-block;
    position: relative;
    padding: 1.5rem 4rem;
    border: none;
    font-size: 1.6rem;
    border-radius: 10rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.btn-accent {
    background-color: #55c57a;
    color: var(--text-secondary);
}

.btn-text {
    background-color: transparent;
    color: #55c57a;
    padding: 0.4rem 4px;
    border-radius: 0;
    text-transform: none;
    border-bottom: #55c57a 1px solid;
}

.btn-text:hover {
    background-color: #55c57a;
    color: var(--text-secondary);
}

.btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-primary::after {
    background-color: var(--bg-primary);
}

.btn-accent::after {
    background-color: #55c57a;
}

/* Heading */
.heading-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-primary);
    margin-bottom: 1.5rem;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-primary);
    margin-bottom: 2rem;
}

/* Section */

.section-header {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 8rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #7ed56f, 50%, #28b485);
    background-clip: text;
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;

    @media (max-width: 56.25rem) {
        margin-bottom: 5rem;
        font-size: 3rem;
    }
    @media (max-width: 37.5rem) {
        font-size: 2.5rem;
    }
}

.section-header:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: var(--text-shadow-primary);
}

.section-row {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: 56.25rem) {
        padding: 0 3rem;
        max-width: 50rem;
    }
}

/* Navigation */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-checkbox {
    display: none;
}

.nav-icon {
    position: relative;
    margin-top: 3.5rem;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: var(--bg-secondary);
}

.nav-icon::before,
.nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.nav-icon::before {
    top: -1rem;
}

.nav-icon::after {
    top: 1rem;
}

.nav-btn {
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;

    @media (max-width: 56.25rem) {
        top: 4rem;
        right: 4rem;
    }
}

.nav-background {
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @media (max-width: 56.25rem) {
        top: 4.5rem;
        right: 4.5rem;
    }
}

.navigation-nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list {
    list-style: none;
    text-align: center;
    width: 100%;
}

.nav-item {
    margin: 1rem;
}

.nav-link {
    display: inline-block;
    pointer-events: none;
    user-select: none;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--text-secondary);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        var(--bg-primary) 50%
    );
    background-size: 220%;
    transition: all 0.4s ease-in-out;
}

.nav-link:hover,
.nav-link:active {
    background-position: 100%;
    color: var(--text-primary);
    transform: translateX(1rem);
}

.nav-checkbox:checked ~ .nav-background {
    transform: scale(80);
}

.nav-checkbox:checked ~ .navigation-nav {
    opacity: 1;
    width: 100%;
}

.nav-checkbox:checked ~ .navigation-nav .nav-link {
    pointer-events: auto;
    user-select: auto;
}

.nav-checkbox:checked ~ .nav-btn .nav-icon {
    background-color: transparent;
}

.nav-checkbox:checked ~ .nav-btn .nav-icon::before {
    top: 0rem;
    transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-btn .nav-icon::after {
    top: 0rem;
    transform: rotate(-135deg);
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95dvh;
    background-image: linear-gradient(
            to right bottom,
            var(--bg-accent-light),
            var(--bg-accent)
        ),
        url("https://images.pexels.com/photos/464440/pexels-photo-464440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @media (max-width: 37.5rem) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
}

.header-logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header-logo {
    height: 3.5rem;
}

.header-heading {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 37.5rem) {
        top: 35%;
    }
}

.header-heading-primary {
    color: var(--text-secondary);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 10rem;
}

.header-heading-primary-title {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @media (max-width: 37.5rem) {
        letter-spacing: 1rem;
    }
}

.header-heading-primary-subtitle {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @media (max-width: 37.5rem) {
        letter-spacing: 0.5rem;
    }
}

/* About Section */

.section-about {
    background-color: var(--bg-primary);
    padding: 25rem 0;
    margin-top: -20vh;

    @media (max-width: 56.25rem) {
        padding: 35rem 0;
    }
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 3rem;
    justify-items: center;
}

.about-left {
    width: 100%;
}

.about-right {
    width: 100%;
    position: relative;

    @media (max-width: 56.25rem) {
        margin-top: 5rem;
        margin-bottom: 20rem;
    }

    @media (max-width: 37.5rem) {
        margin-bottom: 0;
    }
}

.about-img {
    position: absolute;
    width: 55%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    outline-offset: 2rem;

    @media (max-width: 37.5rem) {
        float: left;
        width: 33%;
        position: relative;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    }
}

.about-img-1 {
    top: -2rem;
    left: 0rem;
    z-index: 10;

    @media (max-width: 37.5rem) {
        top: 0rem;
        transform: scale(1.2);
    }
}

.about-img-2 {
    right: -1rem;
    top: 2rem;
    z-index: 10;

    @media (max-width: 37.5rem) {
        top: 0rem;
        transform: scale(1.3);
        z-index: 100;
    }
}

.about-img-3 {
    top: 10rem;
    left: 20%;
    z-index: 10;

    @media (max-width: 37.5rem) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
    }
}

.about-img:hover {
    transform: scale(1.1);
    z-index: 100;
    outline: 1.5rem solid #55c57a;
    border-radius: 1rem;
}

/* Features section */

.section-features {
    margin-top: -20rem;
    display: flex;
    background-image: linear-gradient(
            to right bottom,
            var(--bg-accent-light),
            var(--bg-accent)
        ),
        url("https://images.pexels.com/photos/464440/pexels-photo-464440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transform: skewY(-7deg);
    padding: 20rem 0;

    @media (max-width: 56.25rem) {
        padding: 10rem 0;
    }
}

.section-features .section-row {
    transform: skewY(7deg);
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (max-width: 56.25rem) {
        flex-direction: column;
    }
}

.section-features .feature-card {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 2.5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.section-features .feature-card:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.2);
}

.section-features .feature-card-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section-features .feature-card .paragraph {
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* Tours Section */

.section-tours {
    background-color: var(--bg-primary);
    padding-top: 25rem;
    padding-bottom: 15rem;
    margin-top: -10rem;

    @media (max-width: 56.25rem) {
        margin-top: 0rem;
        padding: 10rem 0;
    }
}

.section-tours .section-row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: nowrap;
    /* outline-offset: 1rem; */

    @media (max-width: 56.25rem) {
        flex-direction: column;
    }
}

.section-tours .btn-row {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.tour-card {
    border-radius: 3px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 52rem;
    perspective: 1000px;

    @media (max-width: 56.25rem) {
        background-color: rgba(255, 255, 255, 1);
        height: auto;
    }
}

.tour-card .tour-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.8s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.tour-card-front {
    background-color: white;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
}

.tour-card-front .tour-card-img {
    height: 23rem;
    border-radius: 3px;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.tour-card-front .tour-card-img::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen;
}

.tour-card-front .tour-card-img-1::before {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url("https://natour.netlify.app/img/nat-5.jpg");
}

.tour-card-front .tour-card-img-2::before {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url("https://natour.netlify.app/img/nat-6.jpg");
}

.tour-card-front .tour-card-img-3::before {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url("https://natour.netlify.app/img/nat-7.jpg");
}

.tour-card-front .tour-card-heading {
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--text-secondary);
}

.tour-card-front .tour-card-heading span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.tour-card-front .tour-card-heading.tour-card-heading-1 span {
    background: linear-gradient(
        to right bottom,
        rgba(255, 185, 0, 0.85),
        rgba(255, 119, 48, 0.85)
    );
}

.tour-card-front .tour-card-heading.tour-card-heading-2 span {
    background: linear-gradient(
        to right,
        rgba(126, 213, 111, 0.85),
        rgba(40, 180, 133, 0.85)
    );
}

.tour-card-front .tour-card-heading.tour-card-heading-3 span {
    background: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, 0.85),
        rgba(86, 67, 250, 0.85)
    );
}

.tour-card-front .tour-card-front-list {
    font-size: 1.5rem;
    list-style: none;
    width: 80%;
    margin-inline: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 56.25rem) {
        margin-block: 1rem;
    }
}

.tour-card-front .tour-card-front-list-item {
    font-size: 1.5rem;
    color: var(--text-primary);
}

.tour-card-front .tour-card-front-list-item:is(:first-child) {
    padding-top: 1rem;
}

.tour-card-front .tour-card-front-list-item:is(:last-child) {
    padding-bottom: 1rem;
}

.tour-card-front .tour-card-front-list hr {
    width: 80%;
    margin: 1rem auto;
    border: none;
    border-bottom: 1px solid #eee;
}

.tour-card:hover .tour-card-inner {
    transform: rotateY(180deg);

    @media (max-width: 56.25rem) {
        transform: rotateY(0);
    }
}

.tour-card-front,
.tour-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;

    @media (max-width: 56.25rem) {
        position: relative;
        box-shadow: none;
    }
}

.tour-card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 56.25rem) {
        height: auto;
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        padding: 7rem 4rem 4rem 4rem;
    }
}

.tour-card-back-1 {
    background: linear-gradient(to right bottom, #ffb900, 70%, #ff7730);
}

.tour-card-back-2 {
    background: linear-gradient(to right bottom, #7ed56f, 70%, #28b485);
}

.tour-card-back-3 {
    background: linear-gradient(to right bottom, #2998ff, 70%, #5643fa);
}

.tour-card-back .tour-card-back-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.tour-card-back .tour-card-back-price {
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--text-secondary);
    margin-bottom: 2rem;

    @media (max-width: 56.25rem) {
        font-size: 4rem;
    }
}

.tour-card-back .tour-card-back-btn {
    margin-top: 6rem;

    @media (max-width: 56.25rem) {
        margin-top: 2rem;
    }
}

/* Stories Section */

.section-stories {
    padding: 15rem 0;
    position: relative;

    @media (max-width: 56.25rem) {
        padding: 10rem 0;
    }
}

.section-stories .section-row {
    margin-bottom: 6rem;
}

.section-stories .background-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0.2;
}

.section-stories .background-video .video-player {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-stories .story-card {
    width: 75%;
    margin-inline: auto;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 6rem 7rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform: skewX(-12deg);

    @media (max-width: 56.25rem) {
        width: 100%;
        padding: 4rem 5rem;
    }

    @media (max-width: 37.5rem) {
        transform: skew(0deg);
    }
}

.section-stories .story-card > * {
    transform: skewX(12deg);

    @media (max-width: 37.5rem) {
        transform: skew(0deg);
    }
}

.section-stories .story-card .story-card-img {
    position: relative;
    float: left;
    border-radius: 50%;
    margin-right: 2rem;
    shape-outside: margin-box;
    width: 15rem;
    height: 15rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: translateX(-1rem) skewX(12deg);

    @media (max-width: 37.5rem) {
        transform: skew(0deg) translateX(-1rem);
    }
}

.section-stories .story-card .story-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.section-stories .story-card:hover .story-card-img img {
    filter: blur(0.25rem);
    transform: scale(1);
}

.section-stories .story-card .story-card-img .img-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: var(--text-secondary);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
}

.section-stories .story-card:hover .story-card-img .img-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.section-stories .story-card .story-card-text {
    height: 100%;
    text-align: left;
    margin-block: auto;
}

.section-stories .story-card .story-card-text .paragraph {
    margin-bottom: 0;
}

.section-stories .btn-row {
    margin-top: 4rem;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

/* Booking Section */

.section-book {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    position: relative;
    padding: 15rem 0;

    @media (max-width: 56.25rem) {
        padding: 10rem 0;
    }
}

.section-book .section-row {
    margin-inline: auto;
}

.section-book .book-card {
    background: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
        ),
        url("https://images.pexels.com/photos/464440/pexels-photo-464440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

    @media (max-width: 75rem) {
        background: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 65%,
                transparent 65%
            ),
            url("https://images.pexels.com/photos/464440/pexels-photo-464440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-size: cover;
        background-position: center;
    }

    @media (max-width: 56.25rem) {
        background: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 100%
            ),
            url("https://images.pexels.com/photos/464440/pexels-photo-464440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-size: cover;
        background-position: center;
    }
}

.section-book .section-header {
    text-align: left;
    margin-bottom: 3rem;

    @media (max-width: 56.25rem) {
        margin-bottom: 1rem;
    }
}

.section-book .book-card-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding: 6rem;

    @media (max-width: 75rem) {
        width: 65%;
    }

    @media (max-width: 56.25rem) {
        width: 100%;
    }
}

.section-book .book-card-form .form-input {
    display: flex;
    flex-direction: column;
}

.section-book .book-card-form .form-input .input-field {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 1.5rem 2rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-primary);
    transition: all 0.2s ease-in-out;
    border-bottom: 3px solid transparent;
    width: 90%;
    transition: all 0.2s ease-in-out;

    @media (max-width: 56.25rem) {
        width: 100%;
    }
}

.section-book .book-card-form .form-input .input-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
}

.section-book .book-card-form .form-input .input-field::placeholder {
    color: #999999;
}

.section-book .book-card-form .form-input .input-field:focus {
    box-shadow: 0 1rem 2rem rgba(216, 56, 56, 0.1);
    border-bottom: 3px solid #ff7730;
}

.section-book .book-card-form .form-input .input-field:not(:placeholder-shown) {
    border-bottom: 3px solid #55c57a;
}

.section-book
    .book-card-form
    .form-input
    .input-field:not(:placeholder-shown)
    + .input-label {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
}

.section-book .book-card-form .form-group {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;

    @media (max-width: 56.25rem) {
        flex-direction: column;
        align-items: start;
        width: 100%;
        row-gap: 1rem;
    }
}

.section-book .book-card-form .form-group .container {
    display: block;
    position: relative;
    padding-left: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-basis: 49%;

    @media (max-width: 56.25rem) {
        flex-basis: 100%;
    }
}

.section-book .book-card-form .form-group .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.section-book .book-card-form .form-group .container .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
    outline: #55c57a 5px solid;
    outline-offset: 0.4rem;
    border-radius: 50%;

    @media (max-width: 56.25rem) {
        outline-offset: 2px;
    }

    @media (max-width: 37.5rem) {
        left: 1rem;
        height: 1rem;
        width: 1rem;
        outline-offset: 1px;
    }
}

.section-book
    .book-card-form
    .form-group
    .container
    input:checked
    ~ .checkmark {
    background-color: #55c57a;
}

.section-book .book-card-form .form-group .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.section-book
    .book-card-form
    .form-group
    .container
    input:checked
    ~ .checkmark:after {
    display: block;
}

.section-book .book-card-form .form-submit-btn {
    margin-top: 3rem;

    @media (max-width: 56.25rem) {
        margin-top: 1rem;
    }
}

/* Footer section */

.section-footer {
    background-color: #333333;
    color: var(--text-secondary);
    padding: 10rem 0;
    position: relative;

    @media (max-width: 56.25rem) {
        padding: 8rem 0;
    }
}

.section-footer .footer-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;

    @media (max-width: 56.25rem) {
        margin-bottom: 4rem;
    }
}

.section-footer .footer-logo {
    width: 15rem;
}

.section-footer .footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 20rem;

    @media (max-width: 56.25rem) {
        flex-direction: column;
        gap: 0rem;
        row-gap: 6rem;
    }
}

.section-footer .footer-nav .footer-left {
    display: flex;
}

.section-footer .footer-nav .footer-left,
.section-footer .footer-nav .footer-right {
    flex-basis: 50%;
    /* display: flex; */
    padding: 2rem;
    border-top: gray 1px solid;
    justify-content: space-between;
    font-size: 1.3rem;
}

.section-footer .footer-nav .footer-item {
    display: inline-block;
    color: var(--text-secondary);
    background-color: #333333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}

.section-footer .footer-nav .footer-item:hover {
    transform: translateY(-3px) scale(1.3) rotate(5deg);
    color: #55c57a;
}

.section-footer .footer-nav .footer-item:hover a {
    padding-block: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

/* popup */

.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.popup-window .popup-content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bg-primary);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    display: flex;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.4s 0.2s;
    overflow: hidden;
}

.popup-window:target {
    opacity: 1;
    visibility: visible;
    display: block;
}

.popup-window:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s ease-in-out;
}

.popup-window .popup-content .popup-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    color: var(--text-primary);
    cursor: pointer;
}

.popup-window .popup-content .popup-left {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-window .popup-content .popup-left .popup-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-window .popup-content .popup-right {
    flex-basis: 66.67%;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-window .popup-content .popup-right .section-header {
    text-align: left;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.popup-window .popup-content .popup-right .popup-subtitle {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.popup-window .popup-content .popup-right .popup-paragraph {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
}

/* Breaklpoints */

@media (max-width: 56.25rem) {
    .nav-btn {
        display: block;
    }

    .header-heading {
        top: 35%;
    }
}

/* Animations */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
